/* AdminLogin.css */
.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f7f7;
}

.login-form-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #777;
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f7f7f7;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #6a11cb;
  outline: none;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  background-color: #6a11cb;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #2575fc;
}

button:active {
  background-color: #1d5bb3;
}